
<%= form_with model: @photo do | form |%>

    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <input type="hidden" name="_method" value="PATCH">
    <div>
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>
    <div>
        <%= form.label :image_url %>
        <%= form.url_field :image_url %>
    </div>
    <%= form.submit "Enviar" %>

<!---- </form>--->
<% end %>